.wrapper{
	width: 994px;
	height: 650px;
	margin: auto;
}

header{
	width: 994px;
	height:288px; 
	background: url(../imagenes/cafeces.jpg);
}

h1{
	float: center;
	position: absolute;
	top: 70px;
	left: 520px;
}

h2{
	font-family: Helvetica;
	font-weight: bold;
	font-size: 24px;
	color: #230b03;

}

p{
	font-family: Arial;
	font-size: 12px;
	line-height: 20.24px;
	color: #230b03;

}

nav ul li{
	display: inline-block;
}


a:hover { 
    background-color: #8a6145;
    

	}

nav{
	background-color: #230b03;
	width: 994px;
	height: 42px;
	text-align: center;
	clear: both;
	padding: 0px;

}

a{
	display: block;
	text-decoration: none;
	color: #ffffff;
	font-family: Helvetica;
	font-size: 14px;
	padding: 6px;
	padding-left: 13px;
	padding-right: 13px;
	padding-bottom: 13px;
}

ul li{
		list-style-type: none;
		padding-left: 50px;
		padding-top: 7px;
	}

section{
	padding-top: 25px;
	padding-bottom: 300px;
}

article{
	width: 370px;
	float: left;
	margin-left: 90px;
	}

footer p{
	color: #ffffff;
	padding-top: 7px;
	padding-left: 10px;

}


footer {
	background-color: #230b03;
	width: 994px;
	height: 32px;
	clear: both;
}